<html lang="en">
<head>
    <title>tk-blog</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"> <i class="comment icon"></i> Blog </div>
        <a href="/" class="item"> Home </a>
        <a href="/posts/new" class="item"> New Post </a>
    </div>
</div>
<br/>
<br/>
