<% include partials/header.ejs%>

<div class="ui main text container segment">
    <div class="ui huge header"> <%= post.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= post.image %>" width="500px">
        </div>
        <div class="content">
            <h6><%= post.created.toDateString() %></h6>
        </div>
        <div class="description">
            <p> <%- post.body %></p>
        </div>
    </div>
</div>

<% include partials/footer.ejs%>
